<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_area :caption, placeholder: "Enter your post" %>
  </div>

  <div class="form-check">
    <%= form.check_box :allow_comments, class: "form-check-input" %>
    <%= form.label :allow_comments, class: "form-check-label" %>
  </div>

  <div class="form-check">
    <%= form.check_box :show_likes_count, class: "form-check-input" %>
    <%= form.label :show_likes_count, class: "form-check-label"  %>
  </div>

  <div class="mt-4">
    <%= form.label :images, style: "display: block" %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div>
    <%= form.submit class: "button button-gray button-md button-radius" %>
  </div>
<% end %>
